certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
psycopg2-binary
python-dateutil
pytz
requests
six
SQLAlchemy
tenacity
typing_extensions
urllib3
Werkzeug
zipp
