certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
requests
six
tenacity
urllib3
Werkzeug
zipp
